* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
button {
  border: none;
}

body {
  font-family: Arial,sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
  background: #220130;
}

.generator {
  background: rgba(178,33,246,0.09);
  backdrop-filter: blur(14,399px);
  border: 1px solid rgba(255,255,255,0.22);
  border-radius: 48px;
  padding: 48px 50px;
  flex: 0 1 710px;
  display: block;
  align-items: center;
  justify-content: space-between;
  column-gap: 15px;
}

.generator__left {
  display: flex;
  flex-direction: column;
  flex: 0 1 248px;
}

.generator__title {
  font-size: 25px;
  margin-bottom: 30px;
}

.generator__item {
  margin-bottom: 20px;  
}

.generator__label {
  display: block;
  margin-bottom: 10px;
}

.generator__input {
  width: 100%;
  border-radius: 25px;
  background: #321b43;
  padding: 6px 15px;
  font-size: 16px;
  color: #fff;
  outline: none;
}

.generator__btn {
  border-radius: 25px;
  background-color: #773da6;
  padding: 9px 40px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  transition:background-color 0.3s;
}

.generator__btn:hover {
  background-color: #502970;
}

.generator__btn--small {
  width: 200px;
  align-self: center;
  font-size: 16px;
}

.generator__right {
  flex: 0 1 330px;
}

.generator__qr-code {
  width: 330px;
  height: 330px;
  padding: 18px;
  border-radius: 25px;
  background-color: #fff;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.generator__radio-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.generator__radio {
  display: none;
}

.generator__radio-label {
  border-radius: 5px;
  cursor: pointer;
  background: #321b43;
  padding: 6px 15px;
  user-select: none;
  color: rgba(255,255,255,0.15);
  border-radius: 25px;
  transition: color 0.3s;
}

.generator__radio:checked + .generator__radio-label {
  color: #fff;
}




